services:
  db:
    container_name: blog-db
    image: mysql
    env_file:
      - db.env
    ports:
      - "3306:3306"
    volumes:
      - blog-data:/var/lib/mysql
    networks:
      - blog-network
  api:
    container_name: blog-api
    build: blog-api
    env_file:
      - api.env
    ports:
      - "8080:8080"
    depends_on:
      - db
    

volumes:
  blog-data:
    driver: local

networks:
  blog-network:
    driver: bridge 
